{% extends 'base.html' %}
{% block content %}
<h3>Add new famous</h3><br>
<form action="/famous/createFamous" method="post">
{% csrf_token %}
    <div class="mb-3 form-control">
        <h5>Name</h5>
        <label for="name_English" class="form-label">English</label>
        <input id="name_English" name="name_English">
        <br>
        <label for="name_Arabic" class="form-label">Arabic</label>
        <input id="name_Arabic" name="name_Arabic">
    </div>
    <div class="mb-3 form-control">
        <h5>Accounts</h5>
        <label for="snapchat" class="form-label">snapchat</label>
        <input id="snapchat" name="snapchat" type="text">
        <br>
        <label for="instagram" class="form-label">instagram</label>
        <input id="instagram" name="instagram" type="text">
        <br>
        <label for="twitter" class="form-label">twitter</label>
        <input id="twitter" name="twitter" type="text">
        <br>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock %}