{% extends 'base.html' %}
{% block content %}
<h3>Create new campaign</h3><br>
<form action="/campaigns/createNewCampaign" method="post">
{% csrf_token %}
    <div class="mb-3 form-control">
        <label for="company" class="form-label">company</label>
        <input id="company" name="company" type="text" value="">
    </div>
    <div class="mb-3 form-control">
        <label for="name_English" class="form-label">Campaign name (English)</label>
        <input id="name_English" name="name_English">
        <br>
        <label for="name_Arabic" class="form-label">Campaign name (Arabic)</label>
        <input id="name_Arabic" name="name_Arabic">
    </div>
    <div class="mb-3 form-control">
        <label for="link" class="form-label">Link</label>
        <input id="link" name="link" type="url" value="https://">
    </div>

    <div class="mb-3 form-control">
        <h5>Choose famous</h5>
        {% for famous in famous_array %}
        <div class="mb-1">
            <input type="checkbox" id={{famous.name_en}} name={{famous.name_en}} value="checked">
            <label for={{famous.name_en}}>{{famous.name_ar}}</label><br>
        </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Create campaign</button>
</form>
{% endblock %}