{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{campaign.name_ar}}</a>
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://3.82.176.22:8000/control/">Home</a>
        </li>
        </ul>
    </div>

</nav>



<form action="/control/campaigns/campaignUpdate?id={{campaign.name_en}}" method="post">
                {% csrf_token %}
<div class="mb-3 form-control">
        <h5>Add new famous</h5>
        {% for famous in famousArray%}
        <div class="mb-1">
            <input type="checkbox" id={{famous.name_en}} name={{famous.name_en}} value="checked">
            <label for={{famous.name_en}}>{{famous.name_ar}}</label><br>
        </div>
        {% endfor %}

                <button type="submit" class="btn btn-outline-primary">Add </button>

    </div>
</form>

{% endblock %}