{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{campaign.name_ar}}</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://3.83.172.110:8001/control/">Home</a>
        </li>
        </ul>
        {% if not notAddedFamous %}
{% else %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="d-flex" role="search" action="/control/campaigns/campaignEdit?id={{campaign.name_en}}" method="post">
                 {% csrf_token %}
                <button class="btn btn-outline-warning" type="submit" >Edit</button>
            </form>
        </div>
        {% endif %}

    </div>

</nav>


<table class="table" style="text-align:center; vertical-align:center">
    <tr>
        <th>Company</th>
        <td style="text-align:center">{{campaign.company}}</td>
        <th>id</th>
        <td style="text-align:center">{{campaign.name_en}}</td>
    </tr>
    <tr>
        <th>name</th>
        <td style="text-align:center">{{campaign.name_ar}}</td>
        <th>Start at</th>
        <td style="text-align:center">{{campaign.start_time}}</td>
    </tr>
    <tr>
    </tr>
</table>

<table class="table" style="text-align:center; vertical-align:center">
    <thead>
    <tr>
        <th style="text-align:center;" colspan="8">views</th>
    </tr>
    <tr>
        <th>Device / Platform</th>
         <th scope="col" style="text-align:center"><i class="fa-brands fa-snapchat" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
         <th scope="col" style="text-align:center"><i class="fa-brands fa-instagram" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
         <th scope="col" style="text-align:center"><i class="fa-brands fa-twitter" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
         <th scope="col" style="text-align:center"><i class="fa-brands fa-tiktok" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
         <th scope="col" style="text-align:center"><i class="fa-brands fa-youtube" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
         <th scope="col" style="text-align:center"><i class="fa-brands fa-facebook" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
        <th scope="col" style="text-align:center">total</th>
    </tr>
    </thead>
    <tr>
         <th scope="row" style="text-align:center"><i class="fa-brands fa-apple" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
         <td>{{views.snapchat.apple}}</td>
         <td>{{views.instagram.apple}}</td>
         <td>{{views.twitter.apple}}</td>
         <td>{{views.tiktok.apple}}</td>
         <td>{{views.youtube.apple}}</td>
         <td>{{views.facebook.apple}}</td>
         <td>{{views.apple}}</td>
    </tr>
    <tr>
         <th scope="row" style="text-align:center"><i class="fa-brands fa-android" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
         <td>{{views.snapchat.android}}</td>
         <td>{{views.instagram.android}}</td>
         <td>{{views.twitter.android}}</td>
         <td>{{views.tiktok.android}}</td>
         <td>{{views.youtube.android}}</td>
         <td>{{views.facebook.android}}</td>
         <td>{{views.android}}</td>
    </tr>
    <tr>
         <th scope="row" style="text-align:center">else</th>
         <td>{{views.snapchat.else}}</td>
         <td>{{views.instagram.else}}</td>
         <td>{{views.twitter.else}}</td>
         <td>{{views.tiktok.else}}</td>
         <td>{{views.youtube.else}}</td>
         <td>{{views.facebook.else}}</td>
         <td>{{views.else}}</td>
    </tr>
    <tr>
         <th scope="row" style="text-align:center">total</th>
         <td>{{views.snapchat.total}}</td>
         <td>{{views.instagram.total}}</td>
         <td>{{views.twitter.total}}</td>
         <td>{{views.tiktok.total}}</td>
         <td>{{views.youtube.total}}</td>
         <td>{{views.facebook.total}}</td>
         <td class="table-active">{{views.total}}</td>
    </tr>
</table>

<div>

    <table class="table table-hover" style="text-align:center;vertical-align:middle;">
  <thead>
    <tr>
      <th scope="col" rowspan="2" style="vertical-align:middle;">id</th>
      <th scope="col" rowspan="2" style="vertical-align:middle;">name</th>
           <th scope="col" colspan="4">views</th>
      <th scope="col" rowspan="2" style="vertical-align:middle;">platforms</th>
    </tr>
    <tr>
<!--        <th></th>-->
<!--        <th></th>-->
         <th scope="col" style="text-align:center">total</th>
      <th scope="col" style="text-align:center"><i class="fa-brands fa-apple" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
      <th scope="col"  style="text-align:center"><i class="fa-brands fa-android" style="color: #000000;padding:0px 5px 0px 5px"></i></th>
      <th scope="col" style="text-align:center">else</th>
<!--        <th></th>-->

    </tr>
  </thead>
  <tbody>
  {% for fam in currentFamousArray %}
    <tr>
      <th>{{fam.name_en}}</th>
      <td>{{fam.name_ar}}</td>
      <td style="text-align:center">{{fam.views.total}}</td>
      <td style="text-align:center">{{fam.views.apple}}</td>
      <td style="text-align:center">{{fam.views.android}}</td>
      <td style="text-align:center">{{fam.views.else}}</td>

        <td style="text-align:left;">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="snapchat-tab-{{fam.name_en}}" data-bs-toggle="tab" data-bs-target="#snapchat-tab-pane-{{fam.name_en}}" type="button" role="tab" aria-controls="snapchat-tab-pane-{{fam.name_en}}" aria-selected="true"><i class="fa-brands fa-snapchat" style="color: #000000;padding:0px 5px 0px 5px" ></i></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="instagram-tab-{{fam.name_en}}" data-bs-toggle="tab" data-bs-target="#instagram-tab-pane-{{fam.name_en}}" type="button" role="tab" aria-controls="instagram-tab-pane-{{fam.name_en}}" aria-selected="false"><i class="fa-brands fa-instagram" style="color: #000000;padding:0px 5px 0px 5px" ></i></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="twitter-tab-{{fam.name_en}}" data-bs-toggle="tab" data-bs-target="#twitter-tab-pane-{{fam.name_en}}" type="button" role="tab" aria-controls="twitter-tab-pane-{{fam.name_en}}" aria-selected="false"><i class="fa-brands fa-twitter" style="color: #000000;padding:0px 5px 0px 5px" ></i></button>
  </li>
 <li class="nav-item" role="presentation">
    <button class="nav-link" id="tiktok-tab-{{fam.name_en}}" data-bs-toggle="tab" data-bs-target="#tiktok-tab-pane-{{fam.name_en}}" type="button" role="tab" aria-controls="tiktok-tab-pane-{{fam.name_en}}" aria-selected="false"><i class="fa-brands fa-tiktok" style="color: #000000;padding:0px 5px 0px 5px" ></i></button>
  </li>
                <li class="nav-item" role="presentation">
    <button class="nav-link" id="youtube-tab-{{fam.name_en}}" data-bs-toggle="tab" data-bs-target="#youtube-tab-pane-{{fam.name_en}}" type="button" role="tab" aria-controls="youtube-tab-pane-{{fam.name_en}}" aria-selected="false"><i class="fa-brands fa-youtube" style="color: #000000;padding:0px 5px 0px 5px" ></i></button>
  </li>
                <li class="nav-item" role="presentation">
    <button class="nav-link" id="facebook-tab-{{fam.name_en}}" data-bs-toggle="tab" data-bs-target="#facebook-tab-pane-{{fam.name_en}}" type="button" role="tab" aria-controls="facebook-tab-pane-{{fam.name_en}}" aria-selected="false"><i class="fa-brands fa-facebook" style="color: #000000;padding:0px 5px 0px 5px" ></i></button>
  </li>

</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="snapchat-tab-pane-{{fam.name_en}}" role="tabpanel" aria-labelledby="snapchat-tab-{{fam.name_en}}" tabindex="0">
    <table style="text-align:center;vertical-align:middle;">
        <tr>
            <th scope="col" style="text-align:center">total</th>
      <th scope="col" style="text-align:center"><i class="fa-brands fa-apple" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
      <th scope="col"  style="text-align:center"><i class="fa-brands fa-android" style="color: #000000;padding:0px 5px 0px 5px"></i></th>
      <th scope="col" style="text-align:center">else</th>
            <td rowspan="2" style="text-align:left;padding-left:10px; ">http://3.83.172.110:8001?campaign={{campaign.name_en}}&famous={{fam.name_en}}&website={{campaign.link}}&platform=snapchat</td>
        </tr>
        <tr>
            <td>{{fam.views.snapchat.total}}</td>
            <td>{{fam.views.snapchat.apple}}</td>
            <td>{{fam.views.snapchat.android}}</td>
            <td>{{fam.views.snapchat.else}}</td>

        </tr>
    </table>
  </div>
  <div class="tab-pane fade" id="instagram-tab-pane-{{fam.name_en}}" role="tabpanel" aria-labelledby="instagram-tab-{{fam.name_en}}" tabindex="0">
<table style="text-align:center;vertical-align:middle;">
        <tr>
            <th scope="col" style="text-align:center">total</th>
      <th scope="col" style="text-align:center"><i class="fa-brands fa-apple" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
      <th scope="col"  style="text-align:center"><i class="fa-brands fa-android" style="color: #000000;padding:0px 5px 0px 5px"></i></th>
      <th scope="col" style="text-align:center">else</th>
            <td rowspan="2" style="text-align:left; padding-left:10px;">http://3.83.172.110:8001?campaign={{campaign.name_en}}&famous={{fam.name_en}}&website={{campaign.link}}&platform=instagram</td>
        </tr>
        <tr>
            <td>{{fam.views.instagram.total}}</td>
            <td>{{fam.views.instagram.apple}}</td>
            <td>{{fam.views.instagram.android}}</td>
            <td>{{fam.views.instagram.else}}</td>

        </tr>
    </table>
  </div>
  <div class="tab-pane fade" id="twitter-tab-pane-{{fam.name_en}}" role="tabpanel" aria-labelledby="twitter-tab-{{fam.name_en}}" tabindex="0">
<table style="text-align:center;vertical-align:middle;">
        <tr>
            <th scope="col" style="text-align:center">total</th>
      <th scope="col" style="text-align:center"><i class="fa-brands fa-apple" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
      <th scope="col"  style="text-align:center"><i class="fa-brands fa-android" style="color: #000000;padding:0px 5px 0px 5px"></i></th>
      <th scope="col" style="text-align:center">else</th>
            <td rowspan="2" style="text-align:left; padding-left:10px;">http://3.83.172.110:8001?campaign={{campaign.name_en}}&famous={{fam.name_en}}&website={{campaign.link}}&platform=twitter</td>
        </tr>
        <tr>
            <td>{{fam.views.twitter.total}}</td>
            <td>{{fam.views.twitter.apple}}</td>
            <td>{{fam.views.twitter.android}}</td>
            <td>{{fam.views.twitter.else}}</td>

        </tr>
    </table>    </div>
      <div class="tab-pane fade" id="tiktok-tab-pane-{{fam.name_en}}" role="tabpanel" aria-labelledby="tiktok-tab-{{fam.name_en}}" tabindex="0">
<table style="text-align:center;vertical-align:middle;">
        <tr>
            <th scope="col" style="text-align:center">total</th>
      <th scope="col" style="text-align:center"><i class="fa-brands fa-apple" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
      <th scope="col"  style="text-align:center"><i class="fa-brands fa-android" style="color: #000000;padding:0px 5px 0px 5px"></i></th>
      <th scope="col" style="text-align:center">else</th>
            <td rowspan="2" style="text-align:left; padding-left:10px;">http://3.83.172.110:8001?campaign={{campaign.name_en}}&famous={{fam.name_en}}&website={{campaign.link}}&platform=tiktok</td>
        </tr>
        <tr>
            <td>{{fam.views.tiktok.total}}</td>
            <td>{{fam.views.tiktok.apple}}</td>
            <td>{{fam.views.tiktok.android}}</td>
            <td>{{fam.views.tiktok.else}}</td>

        </tr>
    </table>      </div>
    <div class="tab-pane fade" id="youtube-tab-pane-{{fam.name_en}}" role="tabpanel" aria-labelledby="youtube-tab-{{fam.name_en}}" tabindex="0">
<table style="text-align:center;vertical-align:middle;">
        <tr>
            <th scope="col" style="text-align:center">total</th>
      <th scope="col" style="text-align:center"><i class="fa-brands fa-apple" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
      <th scope="col"  style="text-align:center"><i class="fa-brands fa-android" style="color: #000000;padding:0px 5px 0px 5px"></i></th>
      <th scope="col" style="text-align:center">else</th>
            <td rowspan="2" style="text-align:left; padding-left:10px;">http://3.83.172.110:8001?campaign={{campaign.name_en}}&famous={{fam.name_en}}&website={{campaign.link}}&platform=youtube</td>
        </tr>
        <tr>
            <td>{{fam.views.youtube.total}}</td>
            <td>{{fam.views.youtube.apple}}</td>
            <td>{{fam.views.youtube.android}}</td>
            <td>{{fam.views.youtube.else}}</td>

        </tr>
    </table>            </div>
    <div class="tab-pane fade" id="facebook-tab-pane-{{fam.name_en}}" role="tabpanel" aria-labelledby="facebook-tab-{{fam.name_en}}" tabindex="0">
<table style="text-align:center;vertical-align:middle;">
        <tr>
            <th scope="col" style="text-align:center">total</th>
      <th scope="col" style="text-align:center"><i class="fa-brands fa-apple" style="color: #000000;padding:0px 5px 0px 5px" ></i></th>
      <th scope="col"  style="text-align:center"><i class="fa-brands fa-android" style="color: #000000;padding:0px 5px 0px 5px"></i></th>
      <th scope="col" style="text-align:center">else</th>
            <td rowspan="2" style="text-align:left; padding-left:10px;">http://3.83.172.110:8001?campaign={{campaign.name_en}}&famous={{fam.name_en}}&website={{campaign.link}}&platform=facebook</td>
        </tr>
        <tr>
            <td>{{fam.views.facebook.total}}</td>
            <td>{{fam.views.facebook.apple}}</td>
            <td>{{fam.views.facebook.android}}</td>
            <td>{{fam.views.facebook.else}}</td>

        </tr>
    </table>                 </div>

</div>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>



{% endblock %}